QIE_TESTNET_RPC_URL=https://rpc1testnet.qie.digital/
QIE_TESTNET_CHAIN_ID=1983
QIE_TESTNET_PRIVATE_KEY=

VITE_QIE_MERCHANT_REGISTRY_TESTNET=
VITE_QIE_INVOICE_REGISTRY_TESTNET=
VITE_QIE_STABLE_TESTNET=
