QIE_TESTNET_RPC_URL=https://rpc1testnet.qie.digital/
QIE_TESTNET_CHAIN_ID=1983
QIE_TESTNET_PRIVATE_KEY=

VITE_QIE_MERCHANT_REGISTRY_TESTNET=0x07E0a4Cd26B006Fa2f6bd5B7B4c321553f65B78f
VITE_QIE_INVOICE_REGISTRY_TESTNET=0x5D9fc13AeF0aaAABF97734c6aE06151c83FD399A
VITE_QIE_STABLE_TESTNET=
